@font-face {
    font-family: "Glitch-Goblin";
    src: url(resources/fonts/GlitchGoblin-2O87v.ttf);
}

@font-face {
    font-family: "Quicknity";
    src: url(resources/fonts/Quicknity-z8nXw.ttf);
}

:root {
    --neon-red: #ff2a6d;
    --vapor-grey: #d1f7ff;
    --neon-blue: #05d9e8;
    --terminal-azure: #005678;
    --space-navy: #01012b;
    
}

* {
    list-style: none;
    font-style: none;
    text-decoration: none;

    margin: 0;

    box-sizing: border-box;
}

#bell {
    fill: #ff2a6d;
    height: 1.5rem;
    width: 1.5rem;
}

#mag-glass {
    fill: #ff2a6d;
    height: 1.5rem;
    width: 1.5rem;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
}

.header {
    background-color: var(--space-navy);
    padding: 10px;
    color: var(--neon-blue);

    box-shadow: 2px 2px var(--terminal-azure);
    border: 1px solid var(--neon-red);

    grid-column: 2/3;
    grid-row: 1/2;
    
    display: flex;
    flex-direction: column;
}

.header .search-bar {
    background-color: var(--space-navy);
    padding: 10px;

    display: flex;

}

.header .search-bar .search-bar-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.header .search-bar .search-bar-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: 350px;
}

.header .search-bar input {
    background-color: var(--vapor-grey);
    border: 1px solid var(--neon-red);
    border-radius: 5px;

}

.header .user-bar {
    background-color: var(--space-navy);
    padding: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .user-bar ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}

.header .user-bar ul button {
    background-color: var(--space-navy);
    padding: 5px 15px;

    color: var(--neon-blue);
    font-family: "Quicknity";
    font-weight: bold;

    border-color: var(--neon-red);
    border-radius: 5px;

}

.side-bar {
    background-color: var(--space-navy);
    padding: 10px;
    color: var(--neon-blue);
    border: 1px solid var(--neon-red);
    font-family:  "Glitch-Goblin";

    display: grid;
    grid-row: 1/3;
    grid-template-rows: 1fr 4fr;
    gap: 10px;
}

.side-bar .logo {
    background-color: var(--space-navy);
    padding: 10px;
}

.side-bar ul {
    background-color: var(--space-navy);
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

}

.dash-board {
    background-color: var(--space-navy);
    padding: 10px;
    border: 1px solid var(--neon-red);

    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.dash-board .dash-board-cards {
    background-color: var(--space-navy);
    padding: 10px;

    display: grid;
    grid-template-rows: 1fr 5fr;
}

.dash-board .dash-board-cards .head-text {
    color: var(--neon-blue);
    font-family:  "Glitch-Goblin";
}

.dash-board .dash-board-cards ul {
    background-color: var(--space-navy);

    grid-row: 2/3;
    display: grid;
    grid-template: 1fr 1fr / repeat(auto-fit, clamp(150px, 1fr, 450px));
    gap: 1rem;
}

.dash-board .dash-board-cards ul a {
    display: flex;
    flex: 1;
}

.dash-board .dash-board-cards ul a .card {
    background-color: var(--space-navy);
    border: 1px solid var(--neon-red);
    color: var(--neon-blue);
    padding: 1rem ;
    border-radius: 10px;

    font-family: "Quicknity";
    font-weight: bold;

    position: relative;
    
    display: flex;
    flex-direction: column;
    flex: 1;

}

.dash-board .dash-board-cards ul a .card p {
    font-family: monospace;

}

.dash-board .nav-bar {
    background-color: var(--space-navy);;
    font-family: "Glitch-Goblin";
    padding: 10px;
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.dash-board .nav-bar p {
    font-family: monospace;
}

.dash-board .nav-bar .announcements {
    background-color: var(--space-navy);
    border: 1px solid var(--neon-red);
    border-radius: 10px;
    color: var(--neon-blue);
    padding: 10px;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dash-board .nav-bar .announcements ul li {
    background-color: var(--space-navy);
    border: 1px solid var(--neon-red);
    border-radius: 10px;
    color: var(--neon-blue);
    padding: 10px;

    margin: 1rem;
    gap: 10px;

}

.dash-board .nav-bar .trending {
    background-color: var(--space-navy);
    border: 1px solid var(--neon-red);
    color: var(--neon-blue);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dash-board .nav-bar .trending ul li {
    background-color: var(--space-navy);
    border: 1px solid var(--neon-red);
    border-radius: 10px;
    color: var(--neon-blue);
    padding: 10px;

    margin: 1rem;
}